@media (max-width: 1199px) {
    .carousel {
        .tns-outer {
            width: 700px;
            margin: 0 auto;
        }

        .carousel__inner {
            img {
                // width: 700px;
                width: 100%;
            }
        }

        .prev, .next {
            top: 50%;
            transform: translateY(-50%);
            left: 0px;
       
            img {
                width: 31px;
                height: 50px;
            }
        }
        
        .next {
            left: auto;
            right: 0px;
        }
    }

    .review {
        &__photo {
            margin-right: 45px;
        }
    }

    .footer {
        &__info {
            padding: 37px 0 0;
            width: 384px;
            height: 235px;

            left: auto;
            right: 0;
            transform: none;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .promo__icons {
        width: 382px;
    }

    .benefits__item {
        width: 216px;
    }

    .carousel {
        .tns-outer {
            width: 600px;
        }
    }

    .catalog {
        &__tab {
            width: 205px;
        }
    }

    .footer {
        &__info {
            width: 339px;
            height: 177px;
            padding: 25px 0 0;
        }

        &__addr {
            margin-bottom: 20px;
            font-size: 17px;
        }

        &__phone {
            margin-bottom: 20px;
            font-size: 17px;
        }

        &__socials {
            width: 168px;
        }

        &__social {
            width: 40px;
            height: 40px;

            img {
                height: 20px;
            }
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }

    .header {
        &__logo {
            img {
                width: 95%;
            }
        }

        &__official {
            font-size: 11px;

            span {
                font-size: 17px;
                line-height: 18px;
            }
        }

        &__phone {
            font-size: 15px;
        }
    }

    .promo {
        padding-bottom: 70px;

        &__header {
            font-size: 36px;
        }

        &__subheader {
            font-size: 21px;
        }

        &__icons {
            width: 352px;
        }
    }

    .button_main {
        width: 260px;
    }

    .benefits {
        padding-top: 55px;
        padding-bottom: 30px;

        &__header {
            margin-bottom: 55px;
            font-size: 27px;
        }

        &__items {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item {
            padding: 0 22px 45px;
            width: 259px;
        }

        &__icon {
            margin-bottom: 20px;
        }
    }

    .consultation {
        padding: 70px 0 75px;
        min-height: auto;
        &__descr {
            font-size: 18px;
            line-height: 28px;
        }
    }

    .title_left {
        font-size: 34px;
        line-height: 51px;
    }

    .feed-form {
        width: 290px;
    }

    .button_submit {
        height: 50px;
    }

    .carousel {
        .tns-outer {
            width: 400px;
        }

        .tns-item {
            height: 340px;
        }

        .prev, .next {
    
            img {
                width: 25px;
                height: 40px;
            }
        }
    }

    .catalog {
        padding-bottom: 50px;
        .title {
            margin-bottom: 50px;
        }

        &__tab {
            width: 150px;
            font-size: 15px;
        }
        
        &__tabs {
            margin-bottom: 40px;
        }
    }

    .review {
        flex-direction: column;
        align-items: center;
        &__photo {
            margin: 0;
            margin-bottom: 30px;
            // height: 150px;
        }

        &__text {
            width: 100%;
        }

        &__name, &__experience {
            text-align: center;
        }

        &__comment {
            font-size: 15px;
            line-height: 23px;
        }
    }

    .footer {
        &__info {
            transform: translateY(-7px);
            position: relative;
            width: 100%;
            height: 135px;
            padding: 15px 0 0;
        }

        &__addr {
            margin-bottom: 12px;
            font-size: 17px;
        }

        &__phone {
            margin-bottom: 12px;
            font-size: 17px;
        }

        &__socials {
            width: 180px;
        }

        &__social {
            width: 40px;
            height: 40px;

            img {
                height: 20px;
            }
        }
    }
}

@media (max-width: 575px) {
    .container {
        max-width: auto;
        padding: 0 10px 0;
    }

    .header {
        flex-direction: column;

        &>div {
            width: auto;
        }

        &__logo {
            margin-bottom: 25px;

            img {
                display: block;
                margin: 0 auto;
            }
        }

        &__official {
            margin-bottom: 25px;
            font-size: 12px;

            span {
                font-size: 18px;
            }
        }

        &__contacts {
            align-items: center;
        }
    }

    .promo {
        &__wrapper {
            margin-top: 60px;
            align-items: center;
        }

        &__header {
            // font-size: 32px;
            text-align: center;
        }

        &__subheader {
            // font-size: 17px;
            font-size: 20px;
            text-align: center;
        }

        &__icons {
            width: 300px;
        }

        &__icon {
            font-size: 12px;

            img {
                margin-bottom: 14px;
                width: 40px;
            }
        }

        &__link {
            font-size: 15px;
        }
    }

    .button {
        &_main {
            width: 250px;
            font-size: 15px;
        }
    }

    .benefits {
        &__item {
            width: 271px;
        }
    }
    
    .title {
        max-width: 300px;
        margin: 0 auto 55px;
        font-size: 26px;
    }

    .consultation {
        padding: 60px 0 60px;

        &__descr {
            margin-bottom: 25px;
            font-size: 16px;
            line-height: 18px;
            text-align: center;
        }
    }

    .title_left {
        margin-bottom: 30px;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }

    .feed-form {
        margin: 0 auto;
        align-items: center;
        // width: auto;
        width: 300px;
        input {
            width: 100%;
        }
    }

    .carousel {
        padding: 33px 0 73px;
        .tns-outer {
            width: 300px;
        }

        .tns-item {
            height: 340px;
        }

        .prev, .next {
            top: auto;
            bottom: -20px;
            left: 30%;
            img {
                width: 20px;
                height: 32px;
            }
        }

        .next {
            left: auto;
            right: 30%;
        }
    }


    .catalog {
        padding-bottom: 50px;
        .title {
            margin-bottom: 25px;
        }

        &__tab {
            margin-bottom: 8px;
            width: 180px;
            height: 39px;
            // font-size: 11px;
            line-height: 39px;

            &:nth-child(1) {
                transform: skewX(-20deg) translateX(17px);  
            }

            &:nth-child(3) {
                transform: skewX(-20deg) translateX(-17px);  
            }

            &:hover {
                box-shadow: 3px 3px 8px $main-color;
            }

            &_active {
                line-height: 43px;
            }
        }
        
        &__tabs {
            margin-bottom: 40px;
            flex-direction: column;
            align-items: center;
        }
    }

    .review {
        &__comment {
            font-size: 14px;
        }
    }

    .footer {
        height: 530px;
    }
}