.benefits {
    padding: 73px 0 65px 0;
    min-height: 473px;
    background-color: #F6F6F6;

    // .benefits__items
    &__items {
        display: flex;
        justify-content: space-between;
    }

    // .benefits__item
    &__item {
        width: 277px;
    }

    // .benefits__icon
    &__icon {
        margin-bottom: 35px;
        img {
            margin: 0 auto;
            display: block;
        }
    }

    // .benefits__subheader
    &__subheader {
        margin-bottom: 20px;
        text-align: center;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        color: #0D0D0D;
    }

    // .benefits__descr
    &__descr {
        text-align: center;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #0D0D0D;

        span {
            font-family: 'MuseoModerno';
            color: #FF0000;
        }
    }
}