.footer {
    // min-height: 630px;
    height: 630px;
    position: relative;
    // overflow: hidden;
    
    // .footer__info
    &__info {
        padding: 50px 68px 60px;
        position: absolute;
        top: 0;
        right: 50%;
        transform: translateX(50%);
        transition: 1.1666s all;

        width: 460px;
        height: 270px;
        background: $main-color;
    }
    // .footer__addr
    &__addr {
        margin-bottom: 38px;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
    // .footer__phone
    &__phone {
        margin-bottom: 38px;
        display: block;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        text-decoration: none;
        
        &:hover {
            color: #FFFFFF;
            text-decoration: underline;
        }
    }
    // .footer__socials
    &__socials {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        width: 212px;
    }
    // .footer__social
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 50px;
        height: 50px;
        border: 2px solid #FFFFFF;
        border-radius: 50%;

        transition: 0.1s all;

        img {
            height: 27px;
        }

        &:hover {
            box-shadow: 0px 0px 10px #555;
            transform: translateY(-2px);
        }
    }
}
